build/
*.obj
*.pdb
*.ilk
*.exp
*.lib

*.pyd
*.so
*.dll

__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
venv/

.vscode/c_cpp_properties.json
.vscode/settings.json

.vs/
*.user

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.cmake

Thumbs.db
.DS_Store